{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <center>
<h1>Numer przesyłki: {{ parcel.parcelnumber }}</h1>
    </center>
    <h2|Wartość: {{ parcel.price }}zł|</h2>
    <h2>|Typ przesyłki: {{ parcel.product }}|</h2>
<h2>|Dane odbiorcy:</h2>
    <h2>|Imie: {{ parcel.Receiver.name }}|</h2>
    <h2>|Telefon: {{ parcel.Receiver.phone }}|</h2>
    <h2>|Ulica: {{ parcel.Receiver.Street }}|</h2>
    <h2>|Miasto: {{ parcel.Receiver.City }}|</h2>
    <h2>|Kod pocztowy: {{ parcel.Receiver.PostalCode }}|</h2>
    <h2>|Adres Email: {{ parcel.Receiver.EmailAdress }}|</h2>
    <h2>----------------------------------------------</h2>
    <h2>Dane nadawcy:</h2>
    <h2>|Imie: {{ parcel.Sender.name }}|</h2>
    <h2>|Telefon: {{ parcel.Sender.phone }}|</h2>
    <h2>|Ulica: {{ parcel.Sender.Street }}|</h2>
    <h2>|Miasto: {{ parcel.Sender.City }}|</h2>
    <h2>|Kod pocztowy: {{ parcel.Sender.PostalCode }}|</h2>
    <h2>|Adres Email: {{ parcel.Sender.EmailAdress }}|</h2>
      <h2>----------------------------------------------</h2>
    <h2>|Uwagi: {{ parcel.description }}|</h2>


    <h1>BARCODE</h1>
    <img src={{ number }} >
</head>
<body>

</body>
</html>