{% extends 'index.html' %}


{% block content %}

<center>


    <h1>Dodaj przesyłke</h1>
<form  method = "post" action="" >
    {% csrf_token %}

      {% include 'blad.html' with form=form %}
    <table>
        <thead>
        <th><h2>Odbiorca</h2></th>
        <th><h2>Nadawca</h2></th>
        </thead>
        <tr>

            <td>{% include 'blad.html' with form=receiver %}</td>

            <td>{% include 'blad.html' with form=sender %}</td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Wyślij</button>
</form>
</center>
{% endblock %}
</body>
</html>